{% extends 'base.html.twig' %}
{% block title %}thermorientalix- {{ recipe.name }}
{% endblock %}

{% block body %}
    <div class="container">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success mt-4">
                {{ message }}
            </div>
        {% endfor %}
        <h1 class="mt-4">{{ recipe.name }}</h1>
        <div class="recipe__image">
            <img style="max-width: 500px;" src="{{ vich_uploader_asset(recipe, 'imageFile') }}">
        </div>

        <p>La moyenne de cette recette est de
            {{ recipe.average|number_format(2, '.', ',') }}
            /5</p>

        <div>
            <span class="badge bg-success">Créée le {{ recipe.createdAt|date('d/m/Y') }}</span>
        </div>
        <div class="mt-4">
            {% if recipe.time %}
                <p>Temps {{ recipe.time }}(en minutes):</p>
            {% else %}
                <p>Temps non renseigné</p>
            {% endif %}
        </div>
        <div class="mt-4">
            {% if recipe.nbsPersonnes %}
            <p>Pour {{ recipe.nbsPersonnes }} personnes</p>
            {% else %}
        </div>
        <div class="mt-4">
            <p>Nombre de personnes non renseigné</p>
            {% endif %}</div>

        <div class="mt-4">
            {% if recipe.difficulty %}
                <p>Difulculté {{ recipe.difficulty }}</p>
            {% else %}
                <p>Difficulté non renseigné</p>
            {% endif %}
        </div>
        <div class="mt-4">

            {% if recipe.price %}
                <p>Prix :
                    {{ recipe.price }} €</p>
            {% else %}
                <p>Prix non renseigné</p>
            {% endif %}
        </div>
        <div class="mt-4">
            Déscription :
            {{ recipe.description }}</div>
        <div class="mt-4">
            {% for ingredient in recipe.ingredients %}
                <span class="badge bg-success mt-3"> {{ ingredient.name }}</span>
            {% endfor %}
        </div>
        <div class="mt-4">
            {{ form(form) }}
        </div>
        <div id="comments" class="comments-area">
            <div id="respond" class="comment-respond"><h3 id="reply-title" class="comment-reply-title">Leave a Reply
                    <small><a rel="nofollow" id="cancel-comment-reply-link"
                              href="/bloggerbuzz/blog/2019/05/20/loreum-ipsum/#respond" style="display:none;">Cancel
                            reply</a></small></h3>
                <form action="https://demo.sparklewpthemes.com/bloggerbuzz/wp-comments-post.php" method="post"
                      id="commentform" class="comment-form" novalidate=""><p class="comment-notes"><span
                                id="email-notes">Your email address will not be published.</span> <span
                                class="required-field-message" aria-hidden="true">Required fields are marked <span
                                    class="required" aria-hidden="true">*</span></span></p>
                    <p class="comment-form-comment"><label for="comment">Comment <span class="required"
                                                                                       aria-hidden="true">*</span></label><textarea
                                id="comment" name="comment" cols="45" rows="8" maxlength="65525" required=""></textarea>
                    </p>
                    <p class="comment-form-author"><label for="author">Name <span class="required"
                                                                                  aria-hidden="true">*</span></label>
                        <input id="author" name="author" type="text" value="" size="30" maxlength="245" required=""></p>
                    <p class="comment-form-email"><label for="email">Email <span class="required"
                                                                                 aria-hidden="true">*</span></label>
                        <input id="email" name="email" type="email" value="" size="30" maxlength="100"
                               aria-describedby="email-notes" required=""></p>
                    <p class="comment-form-url"><label for="url">Website</label> <input id="url" name="url" type="url"
                                                                                        value="" size="30"
                                                                                        maxlength="200"></p>
                    <p class="comment-form-cookies-consent"><input id="wp-comment-cookies-consent"
                                                                   name="wp-comment-cookies-consent" type="checkbox"
                                                                   value="yes"> <label for="wp-comment-cookies-consent">Save
                            my name, email, and website in this browser for the next time I comment.</label></p>
                    <p class="form-submit"><input name="submit" type="submit" id="submit" class="submit"
                                                  value="Post Comment"> <input type="hidden" name="comment_post_ID"
                                                                               value="35" id="comment_post_ID">
                        <input type="hidden" name="comment_parent" id="comment_parent" value="0"></p></form>
            </div>
        </div>

    </div>
{% endblock %}

